body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  /* border: 1px solid #ffffff; */
  border-radius: 10px;
  /* max-width: 85%; */
  margin: auto;
  margin-top: 100px;
  background-image: radial-gradient(#3C4043, #292D31)
}
.bodyInfo{
  background-image: url(seaBackgrd.jpg);
  border: 1px solid #0B2E42;
  box-shadow: 0px 30px 50px rgb(207, 204, 204);
  padding: 30px;
  color: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  /* margin: 20px; */
  margin-left: 100px;
  padding: 15px;
  padding-right: 100px;
  border-radius: 10px;
  margin: 0 auto;
}
button {
  margin: 20px;
  padding: 15px;
  background-color: blueviolet;
  border-radius: 10px;
  border: white;
  font-size: large;
}
li {
  list-style: none;
}
.WeatherForecast {
  text-align: center;
}
.card{
  padding: 10px;
  padding-right: 20px;
  text-align: center;
  background-color: #f1f1f1;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.mainTemp{
  font-size: 80px;
}
button{
  background-color: #ffffff;
}
.cels{
  font-size: 30px;
  margin-top: -100px !important;
}
.iconImg{
  margin-top: -50px !important;
}